t/default.xml

<!ELEMENT acl         (ARRAY)*>
<!ELEMENT buttons     (ARRAY)*>
<!ELEMENT credentials (ARRAY)*>
<!ELEMENT fields      (ARRAY)*>
<!ELEMENT globals     (ARRAY)*>
<!ELEMENT keys        (ARRAY)*>
<!ELEMENT levels      (ARRAY)*>
<!ELEMENT messages    (ARRAY)*>
<!ELEMENT pages       (ARRAY)*>
<!ELEMENT rooms       (ARRAY)*>
<!ELEMENT vals        (ARRAY)*>
<config>
  <_cvs_default>@(#)$Id: default.xml 474 2008-09-01 22:48:04Z pjf$</_cvs_default>
  <fields>
    <name>app_closed.passwd</name>
    <clear>left</clear>
    <type>password</type>
  </fields>
  <fields>
    <name>app_closed.user</name>
    <width>20</width>
  </fields>
  <fields>
    <name>feedback.body</name>
    <height>24</height>
    <palign>left</palign>
    <sep>&amp;nbsp;&amp;nbsp;&amp;nbsp;</sep>
    <type>textarea</type>
    <width>72</width>
  </fields>
  <levels>
    <name>admin</name>
    <acl>@support</acl>
    <state>0</state>
  </levels>
  <levels>
    <name>entrance</name>
    <acl>any</acl>
    <state>0</state>
  </levels>
  <levels>
    <name>library</name>
    <acl>any</acl>
    <state>0</state>
  </levels>
  <pages>
    <name>about</name>
    <class>centre narrow</class>
    <columns>1</columns>
  </pages>
  <pages>
    <name>app_closed</name>
    <class>centre narrow</class>
    <columns>1</columns>
  </pages>
  <pages>
    <name>closed</name>
    <class>centre narrow</class>
    <columns>1</columns>
  </pages>
  <pages>
    <name>company</name>
    <class>centre narrow</class>
    <columns>1</columns>
  </pages>
  <pages>
    <name>cracker</name>
    <class>centre narrow</class>
    <columns>1</columns>
  </pages>
  <pages>
    <name>default</name>
    <class>centre narrow</class>
    <columns>1</columns>
  </pages>
  <pages>
    <name>err</name>
    <class>centre narrow</class>
    <columns>1</columns>
  </pages>
</config>
